body{
    background-color:#1e303dff;
}
h1{
    color:#f9f3ebff;
    text-align:center;
}
.sightings{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:2rem;
}